<div class="background-image">
<div class="row justify-content-center">
    <div class="container d-flex justify-content-center align-items-center">
        <section id="loginForm">
            <form [formGroup]="login_form" (ngSubmit)="login()" class="form-horizontal">
                <h4>Use a local account to log in</h4>
                <hr />
                <div class="form-group">
                    <label for="username" class="form-label text-center">Username</label>
                    <input type="text" formControlName="username" class="form-control">
                    <div *ngIf="login_form.get('username')?.invalid && login_form.get('username')?.touched" class="text-danger">
                        <div *ngIf="login_form.get('username')?.errors?.['required']">Username is required.</div>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label for="password" class="form-label text-center">Password</label>
                    <input type="password" formControlName="password" class="form-control"> 
                    <div *ngIf="login_form.get('password')?.invalid && login_form.get('password')?.touched" class="text-danger">
                        <div *ngIf="login_form.get('password')?.errors?.['required']">Password is required.</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10 mx-auto">
                        <button type="submit" class="btn btn-primary w-100">Log In</button>
                    </div>
                </div>
                <div *ngIf="invalid" class="text-danger">
                    <p class="validation-summary-errors">Please enter a correct username and password.</p>
                </div>
            </form>
        </section>
    </div>
</div>
</div>